@font-main: "xirod, sans-serif";

@font-face {
	font-family: "xirod";
	src: url('xirod.woff');
}

body {
	background-color: #000;
	margin: 0;
	font-family: @font-main;
	user-select: none;
}

.center {
	margin: 250px auto;
	width: 599px;
}
